body{
    background-color: rgb(107, 221, 221);
}

button {
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: rgb(4, 76, 88);
    color:rgba(0, 2, 12, 0.68);
    font-weight: bold;
}

span{
    color:rgba(0, 2, 12, 0.68);
    font-weight: bold;
}